@model int
@inject SignInManager<ApplicationUser> signInManager

<div class="btn-group">
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-sm btn-warning">Edit</a>
        <a asp-action="Details" asp-route-id="@Model" class="btn btn-sm btn-primary">Details</a>
        <a asp-action="Delete" asp-route-id="@Model" class="btn btn-sm btn-danger">Delete</a>
    }
    else
    {
        <a asp-action="Details" asp-route-id="@Model" class="btn btn-sm btn-primary">Details</a>
    }

</div>