@model GameLibrary.Models.GameViewModel
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2>Edit game</h2>
<br />

@Html.Partial("_EditModalPartial")

<form asp-action="Edit" enctype="multipart/form-data" id="mainForm">
    <input type="hidden" asp-for="Game.Id" />
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label asp-for="Game.Name"></label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Game.Name" class="form-control" />
        </div>
        <span asp-validation-for="Game.Name" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label asp-for="Game.Year"></label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Game.Year" class="form-control" />
        </div>
        <span asp-validation-for="Game.Year" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label asp-for="Game.Rating"></label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Game.Rating" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label>Developer</label>
        </div>
        <div class="col-sm-4">
            <select asp-for="Game.DeveloperId" class="form-control">
                @foreach (var developer in Model.Developers)
                {
                    <option value="@developer.Id">@developer.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label>Image</label>
        </div>
        <div class="col-sm-4">
            <input type="file" name="GameImage" />
        </div>
    </div>
</form>
    <div class="row">
        <button class="btn btn-warning" data-target="#formModal" data-toggle="modal">Save changes</button>
        <a asp-action="Index" class="btn btn-default">Return</a>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}