@model GameLibrary.Models.DeveloperViewModels.DeveloperViewModel
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete Developer</h2>
<br />

@Html.Partial("_DeleteModalPartial")

<form asp-action="Delete" id="mainForm">
    <input type="hidden" name="formId" value="@Model.Developer.Id" />
    <fieldset disabled>
        <div class="row form-group">
            <div class="col-sm-1">
                <label asp-for="Developer.Name"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Developer.Name" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-1">
                <label asp-for="Developer.Created"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Developer.Created" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-1">
                <label asp-for="Developer.IsActive"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Developer.IsActive" />
            </div>
        </div>
    </fieldset>
</form>

<div class="row">
    <button class="btn btn-danger" data-target="#formModal" data-toggle="modal">Delete</button>
    <a asp-action="Index" class="btn btn-default">Return</a>
</div>
