@model GameLibrary.Models.DeveloperViewModels.DeveloperViewModel
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2>Edit Developer</h2>
<br />

@Html.Partial("_EditModalPartial")

<form asp-action="Edit" enctype="multipart/form-data" id="mainForm">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Developer.Id" />
    <div class="row form-group">
        <div class="col-sm-1">
            <label asp-for="Developer.Name"></label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Developer.Name" class="form-control" />
        </div>
        <span asp-validation-for="Developer.Name" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label asp-for="Developer.Created"></label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Developer.Created" class="form-control" />
        </div>
        <span asp-validation-for="Developer.Created" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label>Image</label>
        </div>
        <div class="col-sm-4">
            <input type="file" name="DeveloperImage" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-1">
            <label asp-for="Developer.IsActive"></label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Developer.IsActive" />
        </div>
    </div>
</form>

<div class="row">
    <button class="btn btn-warning" data-target="#formModal" data-toggle="modal">Save changes</button>
    <a asp-action="Index" class="btn btn-default">Return</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}